:root {
  --primary-color: #364649;
  --secondary-color: #abe0c8;
  --tertiary-color: #e0a89f;
  --accent-color: #ffd5cf;

  --header-height: 6vh;
  --content-width: 90vw;

  --h1-font-size: 6vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Paytone One', sans-serif;
  margin: 0;
  padding: 0;
}
